
*
  margin 0
  padding 0

.cat
  width 117px
  height 201px
  position absolute
  left 50%
  top 50%
  transform translate(-50%,-50%)
  // background-color rgba(248,228,219,1)
  border 1px solid #000

.bg
  width 100%
  height 100%
  left 0
  top 0
  position absolute
  background-image url(./img/maoshenti.png);
  z-index 2

.maoyan
  width 4px
  height 4px
  position absolute
  z-index 3

.maoyan1
  background-image url(./img/maoyan1.png)
  right 26px
  bottom 18px

.maoyan2
  background-image url(./img/maoyan2.png)
  right 40px
  bottom 22px   

.maozui
  width 4px
  height 4px
  position absolute
  background-image url(./img/maozui.png)
  right 37px
  bottom 13px
  z-index 3

.maozhua
  width 34px
  height 81px
  position absolute
  background-image url(./img/maozhua.png)
  right 13px
  bottom -63px
  z-index 1